.my-nav {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 4rem;
  align-items: center;
  gap: 2rem;
}

.my-logo {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.my-link {
  padding: 0.5rem;
  font-weight: 600;
}
